<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @media_content.file_name %>
</p>

<%= link_to 'Edit', edit_media_content_path(@media_content) %> |
<%= link_to 'Back', media_contents_path %>
